body{
  background-color: #80808012;
}
.contactLict {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding-inline-start: 0;
}

.contactLictItem {
  list-style-type: none;
  margin-top: 10px;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.btnDel {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(89, 158, 238);
  color: #fff;
}

.btnDel:hover,
.btnDel:focus {
  transform: scale(1.05);
  background-color: rgb(245, 35, 20);
}
